# Pythonキャッシュ
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 仮想環境
.venv/
venv/

# IDE・エディタ
.idea/
.vscode/

# OS・エディタ一時ファイル
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# 環境変数
.env

# JetBrainsプロジェクトファイル
blog_articles_generator.iml 